# Supabase Projekt-Zugangsdaten (Dashboard -> Project Settings -> API Keys)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Supabase Edge Functions
VITE_ANALYSE_WEBHOOK_URL=https://lthzvefqwhyiynescyhq.supabase.co/functions/v1/analyse
VITE_SYMBOL_SEARCH_WEBHOOK_URL=https://lthzvefqwhyiynescyhq.supabase.co/functions/v1/symbol-search
